<div id="saved">

  <!-- Modal -->
  <div class="modal fade" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="notesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="notesModalLabel">Article Notes</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

        </div>
        <div class="modal-body">
          <ul class="list-group">
            <li class="list-group-item">
              a sample note
              <button class="btn btn-danger note-delete">x</button>
            </li>
          </ul>
          <textarea placeholder="Enter your comments here" rows="4" cols="60"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary save-note-btn">Save Note</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Navigation -->
  <nav class="navbar nav navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/"><span><i class="fas fa-laptop"></i></span> Tech Scraper</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</span></a>
        </li>
        <li class="nav-item">
          <a class="btn btn-danger article-btn text-white" id="clear-btn" data-saved="true"><span><i class="fas fa-folder-minus"></i></span>
            Delete All</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 bg-pic">
      </div>
      <div class="col-lg-8 no-background">
        <div class="card z-depth-2">
          <h4 class="header text_b center-align">Technology News - Saved Articles</h4>
          <table class="table table-striped">
            <tbody>
              {{#each articles}}
              <tr>
                <td>
                  <h4 data-id={{this._id}}>{{this.title}}</h4>
                  <p  data-id={{this._id}}>{{this.summary}}</p>
                </td>
                <td>
                  <button class="note-btn btn btn-primary" data-id={{this._id}} data-toggle="modal" data-target="#notesModal">
                    <i class="fas fa-sticky-note"></i></button>
                  <button class="delete-btn btn btn-danger" data-id={{this._id}}><i class="fas fa-trash-alt"></i></button></td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>
<script type="text/javascript" src="./js/app.js"></script>